* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
h3 {
    color:#383838;
    font-size: 24px;
}

p {
    color: #707070;
}

h2 {
    color: #383838;
    font-size: 2rem;
    text-align: center;
}

a {
    text-decoration: none;
}

/* for header */
header {
    display: flex;
    height: 64px;
    align-items: center;
}
.nav-container {
    display: flex;
    height: 32px;
    width: 100%;
    justify-content: space-between;
    margin: 0 24px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 3px;
}

.nav-logo > img {
    width: 100%;
}

.text-upper {
    text-transform: uppercase;
}

.text-gray {
    color: gray;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-bar-list {
    display: flex;
    gap: 16px;
}

.nav-bar-list > li {
    list-style: none;
}

.nav-bar-list > li > a {
    text-decoration: none;
    color: #383838;
    font-size: 20px;
}

.nav-bar-list > li > a:hover {
    font-weight: bold;
    border-bottom: 4px solid #383838;
}

.nav-phone {
    visibility: hidden;
}

.main {
    display: flex;
    height: 100vh;
    background-color: blueviolet;
}

/* section hero */
.hero {
    background-color: #D3D3D3;
    display: flex;
    align-items: center;
}
.hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
    margin: 24px;
}

.hero > img {
    width: 60%;
    margin: 32px 24px;
}

.hero-text > h3 {
    font-size: 40px;
    color: #383838;
}

.hero-text > p {
    font-size: 20px;
    color: #383838;
}

.hero-text > button {
    font-size: 20px;
    padding: 8px 0;
    background-color: #383838;
    color: #D3D3D3;
}
.hero-text > button:hover {
    background-color: #707070;
}

/* section information */
   /* left side 0f information  */
.information {
    display: flex;
}

.article-1 {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 32px 24px;
}

.article-1 > h3 {
    margin: 32px 0 24px 0 ;
    font-size: 2rem;
}

.article-1 > p {
    padding-right: 20px;
}

.article-1 > p.cite {
    margin-top: 50px;
    color: #383838;
}

   /* right side 0f information */
.right {
    width: 40%;
    margin-top: 15px;
}

.article {
    display: flex;
    align-items: center;
    padding: 16px;
    margin-right: 24px;
    gap: 20px;
}

.pic-article{
    width: 35%;
    height: auto;
}

.text-article {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text-article > p > a {
    text-decoration: none;
}

.article:hover {
    background-color: #D3D3D3 ;
}

/* for course */
.course {
    background-color: #E8E8E8;
    width: auto;
    padding: 0 72px 32px 72px;
}

.course > h2 {
    padding: 32px 0;
}
.course-wrap {
    width: auto;
    display: flex;
    flex-flow: row wrap;
    gap: 32px;
}

.course-item {
    width: 31.78%;
    height: auto;
    background-color: white;
}

.course-item:hover {
    background-color: #D3D3D3;
}

.pic-course {
    width: 100%;
    height: auto;
}

.course-text {
    padding: 16px 16px 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}



/* for tablet */
@media screen and (max-width: 680px) {
    /* section header */
    header {
        height: 90px;
    }

    .nav-container {
        display: flex; 
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-content: center;
        gap: 10px;
    }

    .nav-bar-list > li > a {
        font-size: 18px;
    }

    .nav-bar-list > li > a:hover {
        font-weight: bold;
        border-bottom: 2px solid black;
    }

    .hero-text > button:hover {
        background-color:#383838;
    }
      /* section hero */
    .hero {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
 
    .hero-text {
         width: 100%;
         padding: 32px 16px;
    }
 
    .hero > img {
         width: 100%;
         margin: 0;
    }
 
     .hero-text > h3 {
        font-size: 35px;
        color: #383838;
        display: flex;
    }
 
     .hero-text > p {
        font-size: 20px;
        color: #383838;
        padding: 32px 0 24px 0;
    }
 
     .hero-text > button {
        font-size: 20px;
        padding: 10px;
        background-color: #707070;
        color: white;
        border: 2px solid #707070;
    }

     /* section information */     
     .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vh;
        padding: 0 0 32px 0;
    }

    .article-1 {
        display: none;
    }

     .article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

     .pic-article {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

     .text-article{
        width: 100%;
        padding-left: 16px ;
    }

    /* section course */
    
    .course {
        background-color: white;
        padding: 32px 16px;
    }

    .pic-course {
        display: none;
    }

    .course-text > p {
        display: none;
    }

    .course > h2 {
        padding: 0 0 16px 0;
    }
    .course-wrap {
       display: flex;
       flex-direction: column;
       gap: 8px;
    }

    .course-item {
        width: 100%;
        background-color: #D3D3D3;
        gap: 8px;
    }

    .course-item:hover {
       background-color: #707070;
    }

    .course-text {
        display: flex;
        padding: 16 auto 24px 16px;
    }

    .course-text > h3 {
        padding-top: 8px ;
    }

}

/* for smartphone */
@media screen and (max-width: 480px) {
    /* section header */
   header {
       height: 64px;
   }

   .nav-container {
       display: none;
   }

   .nav-phone {
       visibility: visible;
       width: 100%;
   }

   .nav-bar-list-phone {
       display: flex;
       width: 100%;
       flex-flow: row wrap;
       align-items: center;
       justify-content: space-around;
   }

   .nav-bar-list-phone > li {
       list-style: none;
   }

   img.nav-for-phone {
       width: 2rem;
   }

   .nav-bar-list-phone > li:hover {
       border-bottom:3px solid #383838 ;
   }
}


